/*
Author: Cameron Andrus
Date: 11/03/2023
File Name: styles.css
*/

/*
Fonts:
font-family: 'Francois One', sans-serif;
font-family: 'Roboto Slab', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab:wght@100;200;400;900&display=swap');

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images*/
body {
	Background-color: #000;	
}

img {
	max-width:100%;
	display: block;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Francois One', sans-serif;
	border-top: 1px solid #fff;
}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
}

/*Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Style rules for main contact */
main {
	clear: both;
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
}

.tel-link {
	background-color: #404040; 
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 15px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.hours {
	margin-left: 10%;
}

.action {
	font-size: 1.35em;
	color: #660066;
	font-weight: bold;
}

#weights, #cardio, #training {
	margin: 0 2%;
}

.round {
	border-radius: 8px;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) {
	
	/* Tablet Viewport: show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	/*Tablet Viewport: Style rule for header */
	header {
		position: static;
		padding-bottom: 2%;
	}
}

/* Tablet Viewport: style rules for nav area*/
	nav li {
		border-top: none;
		display: inline-block;
		border-right: 1px solid #fff;
}

	nav li:last-child {
	border-right: none;
}

	nav li a {
	padding: 0.1em 0.75em;
}
/*End of Media Query for Tablet Viewport */

/*#exercises {
	clear: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f2f2f2;
	padding: 1% 2%;
}

#exercises dt {
	font-weight: bold;
}

#exercises dd {
	padding: 0.5% 1% 2% 0;
}*/

.external-link {
	color: #606;
	font-weight: bold;
	text-decoration: none;
}

#contact .contact-email.link {
	color: #606;
	text-decoration: none;
}

.map {
	border: 8px solid #000;
	width: 95%;
	height: 50%;
}

/* Style rules for footer content */
footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a {
	color: #fff;
	text-decoration: none; 
}




